{
  "require": [
    "babel-register"
  ],
  "include": [
    "src"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "exclude": [
    "test/bundle/*.js"
  ],
  "sourceMap": false,
  "instrument": false
}
