<h1 align="center">
  <br>
  <a href="https://tempicolabs.com"><img src="https://www.tempicolabs.com/img/logo_tl_H_black.png" alt="TempicoLabs" width="400"></a>
  <br>
  Tempico Labs SDK Documentation
  <br>
  <br>
</h1>

<h4 align="center">Tempico Labs SDK for API. For node.js and the web.</h4>

<p align="center">
  <img src="https://img.shields.io/bower/v/tmlabs.svg" alt="Bower version">
  <a href="https://www.npmjs.com/package/@tempicolabs/tmlabs">
    <img src="https://img.shields.io/npm/v/@tempicolabs/tmlabs.svg" alt="Npm version">
  </a>
  <a href="https://standardjs.com">
    <img src="https://img.shields.io/badge/code/style-standard-brightgreen.svg" alt="Javascript Standart Style">
  </a>
  <a href="https://github.com/TempicoLabs/tmlabs/blob/master/LICENSE">
    <img src="https://img.shields.io/github/license/TempicoLabs/tmlabs.svg" alt="Github Licence">
  </a>
  <a href="https://docs.tempicolabs.com/">
    <img src="https://img.shields.io/badge/docs-postman-orange.svg" alt="Postman Documentation">
  </a>
  <a href="https://runkit.com/4matic/get-started-with-tmlabs">
    <img src="https://img.shields.io/badge/guide-%40runkit-brightgreen.svg" alt="SDK Usage Guide">
  </a>
  <a href="https://npm.runkit.com/@tempicolabs/tmlabs">
    <img src="https://badge.runkitcdn.com/@tempicolabs/tmlabs.svg" alt="Try @tempicolabs/tmlabs on RunKit"/>
  </a>
</p>
<br>

**TmLabs** is a SDK for [TempicoLabs API](https://www.tempicolabs.com/index.t3m#api-description) using in **node.js** and the **browser**.
It is written in clean ES6 Javascript.

{{>main}}

* * *

MIT. Copyright (c) [Maxim Maximov](http://4matikku.com) and [TempicoLabs, LLC](https://tempicolabs.com).
